In [1]:
import numpy as np  # linear algebra
import pandas as pd  # data processing, CSV file I/O (e.g. pd.read_csv)
import joblib
import warnings  # Supress warnings
import os
import random

In [22]:
model = 'SARIMA'
num = 6

In [23]:
df = pd.read_csv("./files/interpolated_m.csv", index_col=0)
df.index = pd.to_datetime(df.index, format='%Y-%m-%d')
preds = pd.read_csv("./predictions/"+model+"/"+str(num)+".csv", index_col=0)
preds.index = pd.to_datetime(preds.index, format='%Y-%m-%d')

In [24]:
df

,Rainfall,Depth_to_Groundwater,Temperature,Drainage_Volume,River_Hydrometry
Date,,,,,
2009-01-31,6.3,-30.503871,4.964516,-827548.704,2.387097
2009-02-28,14.0,-29.350000,5.125000,-717952.896,2.546429
2009-03-31,34.2,-28.502903,9.254839,-879621.120,2.490323
2009-04-30,16.3,-27.736333,13.806667,-845030.016,2.403333
2009-05-31,28.6,-27.478065,19.809677,-997805.952,2.109677
...,...,...,...,...,...
2020-02-29,18.6,-25.261724,8.989655,-822268.800,2.420690
2020-03-31,70.2,-24.945355,9.758065,-830281.536,2.722581
2020-04-30,41.6,-24.805133,14.016667,-739037.952,2.500000
2020-05-31,45.6,-24.716774,18.754839,-747226.080,2.470968
2020-06-30,70.0,-24.815333,21.176667,-824726.448,2.593333

In [25]:
preds

,Rainfall,Depth_to_Groundwater,Temperature,Drainage_Volume,River_Hydrometry
2017-02-28,0.433081,0.687409,0.205136,0.890262,0.851393
2017-03-31,0.328804,0.739558,0.285787,0.948351,0.749209
2017-04-30,0.314983,0.718209,0.445964,0.900525,0.665164
2017-05-31,0.298159,0.749648,0.559313,0.920645,0.600623
2017-06-30,0.296329,0.710295,0.766556,0.842713,0.524585
2017-07-31,0.267908,0.534575,0.905169,0.554602,0.400105
2017-08-31,0.223502,0.538916,0.820020,0.614558,0.330283
2017-09-30,0.157897,0.465379,0.728594,0.570448,0.261628
2017-10-31,0.141131,0.484865,0.451404,0.630769,0.470685
2017-11-30,0.161441,0.444977,0.339834,0.634935,0.517619
2017-12-31,0.219892,0.425728,0.070512,0.650700,0.570413
2018-01-31,0.247971,0.414581,0.121957,0.663665,0.735053
2018-02-28,0.332896,0.477389,0.186247,0.828016,0.710560
2018-03-31,0.404409,0.490477,0.286858,0.749099,0.726230
2018-04-30,0.385822,0.558594,0.419542,0.812748,0.822098
2018-05-31,0.478133,0.737363,0.620369,0.683518,0.684095
2018-06-30,0.624832,0.727375,0.760832,0.717304,0.506401
2018-07-31,0.439661,0.687403,0.954742,0.570593,0.344960
2018-08-31,0.399787,0.580269,0.856188,0.521847,0.279377
2018-09-30,0.317940,0.593539,0.686451,0.575257,0.328733
2018-10-31,0.198094,0.581284,0.467849,0.497985,0.353110
2018-11-30,0.231632,0.540456,0.285204,0.573983,0.579330
2018-12-31,0.271722,0.574928,0.070953,0.621704,0.484565
2019-01-31,0.377167,0.509980,0.113174,0.631040,0.618227
2019-02-28,0.362874,0.487201,0.171130,0.754827,0.633883
2019-03-31,0.314107,0.545843,0.308516,0.773618,0.590140
2019-04-30,0.287304,0.577330,0.448133,0.761921,0.360391
2019-05-31,0.279981,0.572883,0.586310,0.831332,0.622907
2019-06-30,0.312440,0.566338,0.759911,0.911991,0.569667
2019-07-31,0.361141,0.543955,0.931395,0.675434,0.405203
2019-08-31,0.410138,0.498470,0.862666,0.748879,0.340834
2019-09-30,0.336636,0.510370,0.683527,0.701970,0.325509
2019-10-31,0.337672,0.489135,0.462544,0.715934,0.413847
2019-11-30,0.292644,0.466289,0.291137,0.787080,0.558023
2019-12-31,0.302073,0.517959,0.083980,0.757040,0.687852
2020-01-31,0.338618,0.561433,0.096066,0.882930,0.679254
2020-02-29,0.377086,0.594490,0.136902,0.867373,0.584930
2020-03-31,0.331187,0.612857,0.314733,0.725081,0.550081
2020-04-30,0.299511,0.628881,0.428800,0.793187,0.526545
2020-05-31,0.281580,0.616086,0.586901,0.836532,0.420545
2020-06-30,0.282988,0.614438,0.823557,0.830610,0.373806

In [26]:
loaded_scaler = joblib.load('files/scaler_m.joblib')

In [27]:
unscaled_values = loaded_scaler.inverse_transform(preds.values)
unscaled_df = pd.DataFrame(unscaled_values, columns=df.columns, index=preds.index)
unscaled_df

,Rainfall,Depth_to_Groundwater,Temperature,Drainage_Volume,River_Hydrometry
2017-02-28,82.891613,-23.780116,8.461334,-742183.096061,3.033868
2017-03-31,62.933036,-23.036163,10.528584,-711856.453853,2.888579
2017-04-30,60.287707,-23.340725,14.634293,-736825.182106,2.769082
2017-05-31,57.067581,-22.892219,17.539692,-726321.128604,2.677316
2017-06-30,56.717387,-23.453630,22.851776,-767007.291858,2.569203
2017-07-31,51.277550,-25.960468,26.404741,-917422.477101,2.392214
2017-08-31,42.778321,-25.898544,24.222182,-886121.210153,2.292938
2017-09-30,30.221522,-26.947630,21.878727,-909149.502467,2.195323
2017-10-31,27.012551,-26.669637,14.773732,-877657.909451,2.492566
2017-11-30,30.899794,-27.238681,11.913935,-875482.658033,2.559299
2017-12-31,42.087340,-27.513293,5.010596,-867252.533854,2.634362
2018-01-31,47.461711,-27.672311,6.329267,-860483.499771,2.868452
2018-02-28,63.716231,-26.776286,7.977145,-774680.106736,2.833627
2018-03-31,77.403839,-26.589583,10.556056,-815880.925898,2.855908
2018-04-30,73.846330,-25.617812,13.957025,-782651.331855,2.992215
2018-05-31,91.514608,-23.067478,19.104679,-850118.624727,2.795999
2018-06-30,119.592839,-23.209967,22.705057,-832480.188703,2.543348
2018-07-31,84.151100,-23.780204,27.675412,-909074.146140,2.313808
2018-08-31,76.519307,-25.308594,25.149268,-934523.260731,2.220559
2018-09-30,60.853674,-25.119281,20.798512,-906639.164385,2.290736
2018-10-31,37.915143,-25.294118,15.195244,-946980.754422,2.325396
2018-11-30,44.334445,-25.876566,10.513646,-907304.197321,2.647041
2018-12-31,52.007517,-25.384795,5.021901,-882390.091458,2.512301
2019-01-31,72.189859,-26.311340,6.104121,-877516.382567,2.702345
2019-02-28,69.454003,-26.636314,7.589684,-812890.251166,2.724606
2019-03-31,60.120115,-25.799718,11.111176,-803080.198240,2.662411
2019-04-30,54.989962,-25.350528,14.689896,-809186.827335,2.335747
2019-05-31,53.588381,-25.413969,18.231686,-772949.324626,2.708999
2019-06-30,59.801042,-25.507333,22.681467,-730839.096707,2.633301
2019-07-31,69.122325,-25.826652,27.076978,-854339.264142,2.399462
2019-08-31,78.500328,-26.475542,25.315309,-815995.757113,2.307941
2019-09-30,64.432179,-26.305776,20.723579,-840485.459810,2.286151
2019-10-31,64.630349,-26.608716,15.059277,-833195.302788,2.411753
2019-11-30,56.012152,-26.934643,10.665726,-796051.637670,2.616746
2019-12-31,57.816684,-26.197518,5.355830,-811734.846279,2.801341
2020-01-31,64.811526,-25.577306,5.665607,-746011.020454,2.789116
2020-02-29,72.174212,-25.105710,6.712339,-754132.888706,2.655003
2020-03-31,63.389179,-24.843685,11.270552,-828419.837014,2.605454
2020-04-30,57.326371,-24.615085,14.194325,-792863.689349,2.571990
2020-05-31,53.894439,-24.797624,18.246834,-770234.113669,2.421276
2020-06-30,54.163924,-24.821132,24.312856,-773325.780911,2.354821

In [28]:
preds = unscaled_df

In [29]:
metrics = {}
def calc_metrics(name):

    results = pd.DataFrame(data={'Predictions':preds[name], 'Actuals':df[name]}, index=df.index)

    # Step 2: Calculate the differences between the predicted and actual values
    results['Difference'] = results['Actuals'] - results['Predictions']

    # Step 3: Calculate squared differences for RMSE
    results['Squared_difference'] = results['Difference'] ** 2

    # Step 4: Calculate absolute differences for MAE and MAPE
    results['Absolute_difference'] = np.abs(results['Difference'])
    results['Absolute_percentage_difference'] = np.abs(results['Difference'] / results['Actuals'])

    # Step 5: Compute the metrics
    rmse = np.sqrt(results['Squared_difference'].mean())
    mae = results['Absolute_difference'].mean()
    mape = results['Absolute_percentage_difference'].mean() * 100  # to get the percentage
    return rmse, mae, mape

for column in df.columns:

    rmse, mae, mape = calc_metrics(column)
    metrics[column] = {
        'RMSE': rmse,
        'MAE': mae,
        'MAPE': mape
    }
metrics_df = pd.DataFrame(metrics)

In [30]:
metrics_df

,Rainfall,Depth_to_Groundwater,Temperature,Drainage_Volume,River_Hydrometry
RMSE,45.381322,0.365781,1.688256,51803.978534,0.157620
MAE,36.681796,0.277915,1.325480,39867.201588,0.130024
MAPE,116.932364,1.103021,11.457643,4.905666,5.101857

In [31]:
metrics_df.to_csv('metrics/'+model+'/'+str(num+3)+'.csv')