In [1]:
import numpy as np  # linear algebra
import pandas as pd  # data processing, CSV file I/O (e.g. pd.read_csv)
import joblib
import warnings  # Supress warnings
import os
import random

In [154]:
model = 'ARIMAX'
num = 6

In [155]:
df = pd.read_csv("./files/interpolated_m.csv", index_col=0)
df.index = pd.to_datetime(df.index, format='%Y-%m-%d')
preds_df = pd.read_csv("./files/interpolated_m.csv", index_col=0)
df.index = pd.to_datetime(df.index, format='%Y-%m-%d')
preds = pd.read_csv("./predictions/"+model+"/"+str(num)+".csv", index_col=0)
preds.index = pd.to_datetime(preds.index, format='%Y-%m-%d')

In [156]:
preds

            Depth_to_Groundwater
2017-02-28              0.693395
2017-03-31              0.727176
2017-04-30              0.726836
2017-05-31              0.741491
2017-06-30              0.724010
2017-07-31              0.558886
2017-08-31              0.536447
2017-09-30              0.453145
2017-10-31              0.482702
2017-11-30              0.432109
2017-12-31              0.412025
2018-01-31              0.415196
2018-02-28              0.471354
2018-03-31              0.474624
2018-04-30              0.585226
2018-05-31              0.736949
2018-06-30              0.735429
2018-07-31              0.708618
2018-08-31              0.579250
2018-09-30              0.590034
2018-10-31              0.577947
2018-11-30              0.540883
2018-12-31              0.553021
2019-01-31              0.496508
2019-02-28              0.482856
2019-03-31              0.531255
2019-04-30              0.573875
2019-05-31              0.581713
2019-06-30              0.586795
2019-07-31              0.573178
2019-08-31              0.496256
2019-09-30              0.500367
2019-10-31              0.488649
2019-11-30              0.458456
2019-12-31              0.520970
2020-01-31              0.541821
2020-02-29              0.587368
2020-03-31              0.597378
2020-04-30              0.634537
2020-05-31              0.609044
2020-06-30              0.634614

In [157]:
preds_df['Depth_to_Groundwater'] = preds

In [158]:
preds_df = preds_df.dropna()

In [159]:
loaded_scaler = joblib.load('files/scaler_m.joblib')

In [160]:
unscaled_values = loaded_scaler.inverse_transform(preds_df.values)
unscaled_df = pd.DataFrame(unscaled_values, columns=df.columns, index=preds.index)
unscaled_df

,Rainfall,Depth_to_Groundwater,Temperature,Drainage_Volume,River_Hydrometry
2017-02-28,8306.76,-23.694720,229.682535,-3.575653e+11,6.027882
2017-03-31,12517.56,-23.212806,307.979043,-3.879481e+11,5.964981
2017-04-30,8766.12,-23.217660,361.285871,-3.749406e+11,5.600656
2017-05-31,8077.08,-23.008590,483.022560,-4.254854e+11,5.575125
2017-06-30,3713.16,-23.257970,662.294022,-4.861478e+11,5.268896
2017-07-31,1722.60,-25.613644,685.269344,-4.907176e+11,4.974288
2017-08-31,995.28,-25.933758,722.890884,-4.924669e+11,4.832105
2017-09-30,18297.84,-27.122165,491.241419,-4.451963e+11,5.193066
2017-10-31,3253.80,-26.700496,387.769781,-4.650949e+11,5.111884
2017-11-30,14201.88,-27.422254,246.624237,-4.510873e+11,5.548523
2017-12-31,26451.48,-27.708780,146.413132,-4.536282e+11,5.955807
2018-01-31,6086.52,-27.663537,196.520062,-4.357085e+11,5.776932
2018-02-28,15579.96,-26.862385,130.632166,-3.919225e+11,5.906011
2018-03-31,36633.96,-26.815733,237.614360,-4.122893e+11,6.437394
2018-04-30,7196.64,-25.237879,420.496387,-4.365858e+11,5.927677
2018-05-31,15465.12,-23.073379,487.487534,-4.472474e+11,5.510913
2018-06-30,13053.48,-23.095070,587.191505,-4.537329e+11,5.121974
2018-07-31,3138.96,-23.477549,683.532966,-5.018018e+11,4.850451
2018-08-31,7770.84,-25.323133,651.285931,-4.937664e+11,4.942182
2018-09-30,4517.04,-25.169283,565.318645,-4.833092e+11,4.979791
2018-10-31,22623.48,-25.341727,432.088783,-4.903937e+11,5.134817
2018-11-30,15618.24,-25.870480,275.845011,-4.519624e+11,5.401600
2018-12-31,8574.72,-25.697321,155.343080,-4.594475e+11,5.565951
2019-01-31,9837.96,-26.503538,102.838293,-4.613154e+11,5.575125
2019-02-28,8880.96,-26.698294,204.233364,-3.810783e+11,5.647035
2019-03-31,7120.08,-26.007832,291.938210,-4.182444e+11,5.332038
2019-04-30,17800.20,-25.399816,347.017247,-3.798988e+11,5.562741
2019-05-31,24767.16,-25.287993,387.439043,-3.627932e+11,5.983327
2019-06-30,1646.04,-25.215490,652.126559,-4.119008e+11,5.539044
2019-07-31,18068.16,-25.409757,681.713902,-4.327190e+11,5.143990
2019-08-31,5780.28,-26.507133,677.827721,-4.542620e+11,4.955941
2019-09-30,8077.08,-26.448482,545.667247,-4.233103e+11,5.107756
2019-10-31,8766.12,-26.615648,434.155900,-4.263997e+11,5.102711
2019-11-30,28403.76,-27.046387,306.603720,-4.207325e+11,5.747578
2019-12-31,10909.80,-26.154554,192.964620,-3.880420e+11,5.877836
2020-01-31,2947.56,-25.857099,144.428699,-4.386969e+11,5.387076
2020-02-29,3560.04,-25.207320,233.628387,-4.292861e+11,5.265138
2020-03-31,13436.28,-25.064509,253.324454,-4.334694e+11,5.694375
2020-04-30,7962.24,-24.534402,362.482043,-3.858335e+11,5.377903
2020-05-31,8727.84,-24.898082,483.932092,-3.901083e+11,5.336624
2020-06-30,13398.00,-24.533306,546.009011,-4.305692e+11,5.510607

In [161]:
unscaled_df['Depth_to_Groundwater']

2017-02-28   -23.694720
2017-03-31   -23.212806
2017-04-30   -23.217660
2017-05-31   -23.008590
2017-06-30   -23.257970
2017-07-31   -25.613644
2017-08-31   -25.933758
2017-09-30   -27.122165
2017-10-31   -26.700496
2017-11-30   -27.422254
2017-12-31   -27.708780
2018-01-31   -27.663537
2018-02-28   -26.862385
2018-03-31   -26.815733
2018-04-30   -25.237879
2018-05-31   -23.073379
2018-06-30   -23.095070
2018-07-31   -23.477549
2018-08-31   -25.323133
2018-09-30   -25.169283
2018-10-31   -25.341727
2018-11-30   -25.870480
2018-12-31   -25.697321
2019-01-31   -26.503538
2019-02-28   -26.698294
2019-03-31   -26.007832
2019-04-30   -25.399816
2019-05-31   -25.287993
2019-06-30   -25.215490
2019-07-31   -25.409757
2019-08-31   -26.507133
2019-09-30   -26.448482
2019-10-31   -26.615648
2019-11-30   -27.046387
2019-12-31   -26.154554
2020-01-31   -25.857099
2020-02-29   -25.207320
2020-03-31   -25.064509
2020-04-30   -24.534402
2020-05-31   -24.898082
2020-06-30   -24.533306
Name: Depth_to_Groundwater, dtype: float64

In [162]:
metrics = {}
def calc_metrics(name):

    results = pd.DataFrame(data={'Predictions':unscaled_df[name], 'Actuals':df[name]}, index=unscaled_df.index)

    results = results.dropna()

    # Step 2: Calculate the differences between the predicted and actual values
    results['Difference'] = results['Actuals'] - results['Predictions']

    # Step 3: Calculate squared differences for RMSE
    results['Squared_difference'] = results['Difference'] ** 2

    # Step 4: Calculate absolute differences for MAE and MAPE
    results['Absolute_difference'] = np.abs(results['Difference'])
    results['Absolute_percentage_difference'] = np.abs(results['Difference'] / results['Actuals'])

    # Step 5: Compute the metrics
    rmse = np.sqrt(results['Squared_difference'].mean())
    mae = results['Absolute_difference'].mean()
    mape = results['Absolute_percentage_difference'].mean() * 100  # to get the percentage
    return rmse, mae, mape

for column in ['Depth_to_Groundwater']:

    rmse, mae, mape = calc_metrics(column)
    metrics[column] = {
        'RMSE': rmse,
        'MAE': mae,
        'MAPE': mape
    }
metrics_df = pd.DataFrame(metrics)

In [163]:
metrics_df

      Depth_to_Groundwater
MAE               0.290610
MAPE              1.150848
RMSE              0.374425

In [164]:
metrics_df.to_csv('metrics/'+model+'/'+str(num+3)+'.csv')